* {
	margin: auto;
	padding: auto;
	box-sizing: border-box;
	font: 600 14px Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#calculator {
	width: 325px;
	height: auto;
	padding: 20px;
	padding-top: 45px;
	background: #9ba6a7;
	-webkit-app-region: drag;
}

.keys span,
.top .screen,
.top span.clear {
	height: 40px;
	border-radius: 3px;
	line-height: 40px;
}

.top .screen {
	width: 212px;
	float: right;
	padding: 0 20px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 4px rgba(0, 0, 0, 0.2);
	font-size: 17px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
	-webkit-app-region: no-drag;
}

.keys,
.top {
	overflow: hidden;
}

.keys span,
.top span.clear {
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 66px;
	background: #fff;
	box-shadow: 0 4px rgba(0, 0, 0, 0.2);
	margin: 0 7px 11px 0;
	color: #212121;
	text-align: center;
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	user-select: none;
	transition: all 0.2s ease;
}

span.operator {
	margin-right: 0;
}

.keys span.operator {
	background: #fff0f5;
	margin-right: 0;
}

.keys span.eval {
	background: #9ccc65;
	box-shadow: 0 4px #689f38;
	color: #212121;
}

.top span.clear {
	background: #ff8a65;
	box-shadow: 0 4px #ff7043;
	color: #fff;
}

.keys span:hover {
	background: #9e9e9e;
	box-shadow: 0 4px #757575;
	color: #fff;
}

.keys span.eval:hover {
	background: #689f38;
	box-shadow: 0 4px #517a2d;
	color: #fff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0 4px #d3545d;
	color: #212121;
}

.keys span:active {
	box-shadow: 0 0 #757575;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0 0 #517a2d;
	top: 4px;
}

.top span.clear:active {
	box-shadow: 0 0 #d3545d;
	top: 4px;
}
